
.contenido{
    width: 1000px;
    margin: 0 auto;
}
.contenido_pp{
    width: 100%;

}
.contenido_pp li {
    display: inline-block;
    margin-left: 10px;
    background-color: cadetblue;
    margin-bottom: 10px;
}
.contenido_pp li h1{
    text-align: center;
}